<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739625964121-4gg6cin78ord7l8f2dcfnf01adkusaoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739625964121-4gg6cin78ord7l8f2dcfnf01adkusaoj</string>
	<key>API_KEY</key>
	<string>AIzaSyB7HEJesdIYMZPqnZdzyxmVVe4en3lZ7C0</string>
	<key>GCM_SENDER_ID</key>
	<string>739625964121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneauthUsingBloc.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>phone-auth-using-bloc-5b238</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-auth-using-bloc-5b238.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739625964121:ios:ddd01093ee23e845f2d748</string>
</dict>
</plist>